<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">EQUINOX</span>
        <span>Copyright © 2022 Equinox Music S.R.L</span>
      </div>
      <div class="footer-container2">
        <div class="footer-container3"></div>
        <div class="footer-container4"></div>
        <div class="footer-container5"></div>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
